.items {
  background: #44446b;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(186, 186, 186);

  .items-text {
    display: flex;
    align-items: center;
    gap: 15px;

    input {
      transform: scale(1.3);
      cursor: pointer;
    }

    .isChecked {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  .delete-icon {
    min-width: 40px;
    height: 40px;
    font-size: 27px !important;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    display: block;
  }
  .delete-icon:hover {
    background: #3d79b1;
    transition: 0.3s;
  }
}
